flask==3.0.3
nbconvert==7.16.6
nbformat==5.10.4
pygments==2.19.1
PyGithub==2.6.1
Flask-Cors==4.0.2
flask-jwt-extended==4.7.1
SQLAlchemy==2.0.41
alembic==1.16.1
psycopg2-binary==2.9.10
markdown==3.8
py-gfm==2.0.0
